*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');



/* div{
    animation: glitch 1s linear infinite;
    color: black;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  div:before,
  div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  } */







.frem{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./gif.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.frem p{
    position: absolute;
    top: 3rem;
    font-size: 7rem;
    color: #00000063;
}
.frem h2{
    position: absolute;
    bottom: 8rem;
    font-size: 34px;
}
.frem h5{
    position: absolute;
    bottom: 6rem;
    color: #9c9c9c;
}
.frem a{
    position: absolute;
    bottom: 1rem;
    background: linear-gradient(45deg, #ff0034, #ffbc00);
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    border-radius: 13px;
}