:root {
    --main-color: #E6E7E8;
    ;
    --secondary-color: #A6A6A6;
    --light: rgb(241, 241, 241);
    --dark: rgb(20, 20, 20);
    ;

    --main-font: 'Roboto', sans-serif;
    --title-font: 'Permanent Marker', cursive;

    --text-font-size: 1.3rem;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--light);
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--light);
    white-space: nowrap;
    padding: 0 5%;
}

.flex-link {
    display: flex;
    justify-content: space-between;
    width:12.5rem;
}

li{
    list-style: none;
    padding: 0 5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.animated-text-container {
    display: flex;
    border: 2px solid black;
    width: 70vh;
    height: 30.5vh;
    margin: 2vh 0;
    flex-direction: column;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.glitched{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24%;
    font-size: 10vh;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
  }
  
  .glitch{
    animation: glitch 1s linear infinite;

  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitch:before,
  .glitch:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

.animated-text {
    color: var(--main-color);
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 1.1vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(40,end) forwards;
}

#delay-1{
    animation-delay: 4s;
}

#delay-2{
    animation-delay: 8s;
}

#delay-3{
    animation-delay: 12s;
}

#delay-4{
    animation-delay: 16s;
}

#delay-5{
    animation-delay: 20s;
}

#delay-6{
    animation-delay: 24s;
}

@keyframes type {
    0% {
        width: 0;
        color: #E6E7E8;
    }
    20%{
        border-right: 1px solid orange;
        color: #D3D3D3;
    }
    40%{
        border-right: 1px solid orange;
        color: #C0C0C0;
    }
    60%{
        border-right: 1px solid orange;
        color: #A9A9A9;
    }
    80%,99%{
        border-right: 1px solid orange;
        color: #696969;
    }
   100%{
        border-right: none;
        color: #000000;
    }
}
.interactive-screen{
    border: 2px solid black ;
    width: 60vw;
    height:33.75vw;
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 3.5fr 1fr;
}
#grid-item4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*#game-text-1{

}*/
#game-text-2{
  animation-delay: 4s;
}
#game-text-3{
  animation-delay: 8s;
}
#game-text-4{
  animation-delay: 12s;
}

#grid-item1 , #grid-item3{
  grid-row-start: 1;
  grid-row-end: 4;

}
#grid-item2-1{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  border: 0px;
}
#grid-item2-2{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 3;
grid-column-end: 4;
border: 0px;
}
#player-name, #ennemy-name{
  text-align: center;
  padding: 0 10%;
}

.stats-ennemy , .hp-player {
  height: 30%;
  border: #000000 solid 1px;
}
.stats-ennemy > p , .hp-player > p {
 padding: 0 5%;
}

table{
  border: #000000 1px solid;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5vw;
}
p{
  font-size: 1.5vw;
  text-align: center;
}
th{
  text-align: center;
}
tr{
  margin: 0;
  padding: 0;
  height: 2.57vw;
}
.col-1{
  width: 70%;
  border: #000000 solid;
}
.col-2{
  width: 30%;
  border: #000000 solid;
}

.flex-input {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 15%
}

.interactive-screen-part{
  border: #000000 solid 1px;
}
    
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: .8rem;
    padding: 1rem;
    margin-top: 4rem;
    text-decoration: none;
    color: var(--light);
    height: 8.1rem;
}
footer > h1{
    width: 10rem;
}

footer ul,
footer li {
    margin: 0;
}

footer>ul {
    list-style: none;
    width: 10rem;
    text-align: center;
}

footer>ul>li {
    display: inline-block;
}

footer>ul>li>a {
    color: var(--light);
}

footer > form {
    display: flex;
    flex-direction: column;
    width: 10rem;
    text-align: center;
}
form > button{
    width: 50%;
    align-self: center;
}

.copyright {
    width: 100%;
    text-align: center;
}

