:root {

    /*Colors*/ 

    --main-bg-color: whitesmoke;
    --second-bg-color: blue;
    --third-bg-color: lightblue;
    --main-text-color: black;
    --second-text-color: red;
    --main-dark-color: #000015;

     /*Font*/
     
     --main-font: example;  
     --font-size: 1rem;

}

* {
    margin: 0;
    box-sizing: border-box;
}

}

.info-main{
    background-color: var(--main-bg-color);
    height:min-content;
    display: flex;
    flex-direction: column;
}

.info-title{
    padding: 2rem 0 1rem 0;
    text-align: center;
}

.info-article{
    padding: 1rem 0;    
}

.info-article > h2{
    text-align: center;
}

.info-article > p{
    margin-top: 1rem;
    padding: 0 2rem;
}

.info-section > h2{
    text-align: center;
}

.info-section > table {
    background-color: var(--main-bg-color);
    border-collapse: collapse; 
    box-shadow: 0 0.25rem 0.75rem var(--main-dark-color);
    border: 0.25rem solid var(--main-dark-color);
    margin: 2rem;   
    
}

table th, table td{
    padding: 0.4rem;
    
    
}
table thead th {
    border: 0.2rem solid var(--main-dark-color);
    background-color:var(--second-bg-color);
    color: var(--main-dark-color);
}
tbody td {
    border: 0.15rem solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
@media screen and (min-width : 768px) {

    .info-div-articles{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
    } 
    .info-article{
        text-align: justify;
    }

    .info-table{
        width: 90%;
    }

    .info-table tbody tr{
        transition: all .2s ease-in;
        cursor: pointer;
    }

    .info-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5rem;
    }
    
    .info-section > h2 {
        width: 100%;
        margin-bottom: 1rem;
    }

    tbody > tr:hover{
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 0 0.25rem 0.75rem var(--main-dark-color);

    }
}


/*test burger*/

.header-test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    box-shadow: 0 0.25rem 0.75rem var(--main-dark-color);
    height: 10vh;
}

.header-test ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-burger-test svg{
    stroke: var(--main-bg-color);
    width: 15%;
    height: 15%;
}

.header-burger-test{
    display: flex;
    justify-content: flex-end;
}

.header-nav-test{
    position:fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--third-bg-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 053s transform ease-in-out;
  
}

.header-nav-test.open{
    transform: initial;
    display: flex;
}

.header-nav-links{
    flex-direction: column;
    align-items: flex-start;
}

.header-test nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-dark-color);
}
.header-test li{
    padding-bottom: 2rem;
}

.header-burger-close-test svg{
    stroke: var(--main-bg-color);
    width: 20%;
    height: 20%;
}

.header-burger-close-test{
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 3;
}

.overlay-test{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark-color);
    display: none;

}

.overlay-test.open{
    display: block;
}

/*
sur PC faire display none pour header-burger-test 
sur PC display une nav normale de PC
sur PC header-burger-close-test en display none
*/
